.search {
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 5px;
    margin-left: 32%;
    margin-right: auto;
    width: 18em;
    font-size:18px;color: black; 
    
  }
  